<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Meeting Room</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="container__login">
            <h1 class="titulo">CompMeet</h1>
            <form action="/generate-room" method="GET">
                <button type="submit">Gerar Nova Sala de Reunião</button>
            </form>
        </div>
    </div>
</body>
</html>